/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f6f8;
    color: #333;
}

/* header */
.header {
    background-color: greenyellow;
    color: white;
    padding: 30px ;
    text-align: center;
}
/* navbar */
.navbar {
    margin-top: 30px;
}
.nav-list {
    display: flex;
    gap: 30px;
    justify-content: center;
    list-style: none;
}
.nav-list a {
    color : white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}
.section {
    background-color: white;
    width: 80%;
    margin : 30px auto;
    padding: 20px;
    border-radius: 8px;
}
h2 { 
    margin-bottom: 20px;
    color : #222;
}
img {
    border-radius:50%;
}
table {
    width : 100%;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
}
form {
    display: flex;
    flex-direction: column;
}
input, textarea {
    padding: 10px;
    margin : 10px 0;
}
button {
    padding : 10px;
    background-color: #111;
    color: white;
    border: none;
}
/* footer */
.footer {
    background-color: greenyellow;
    color: white;
    text-align: center;
    padding: 20px;

}